* {
    box-sizing: border-box;
    font-weight: 900;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to top left, #aab35d, #4692b1);
}

.wrapper {
    width: 94%;
    margin: 0 auto;
    background-color: #faecce;
    padding: 0.5em 1em;
    cursor: pointer;
}
.wrapper-title {
    padding: 0.5em 0.3em;
    font-size: 1.5em;
    text-align: center;
}

.accordion-input {
  display: none;
}

.accordion-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
    color:#159bda;
    border-top: 0.2em solid #8a8989;
    text-transform: uppercase;
    cursor: pointer;
}

.title {
    font-size: 1.2em;
}

.accordion-content {
    height: 0;
	overflow: hidden;
	transition: 1.5s;

}

.accordion-image {
    width: 100%;
    display: flex;
    margin: 0 auto;
    transition: 0.7s;
}

.accordion-input:checked ~ .accordion-title {
   color: #000000;
}

.accordion-input:checked ~ .accordion-content {
    height: auto;
	padding: 10px 0;
}

.accordion-input:checked ~ .accordion-image {
    transform: scale(3.2);
}

.icon {
    display: block;
    width: 1.5em;
    height: 1.5em;
    background-image: url(img/icon.svg);
    background-repeat: no-repeat;
    transition: transform 0.3s ease-in-out;
}

.accordion-input:checked ~ .accordion-title .icon {
    transform: rotate(-225deg);
}

@media (min-width: 550px) and (max-width: 1023px) {
    .wrapper {
        width: 75%;
    }

    .wrapper-title {
        font-size: 1.3em;
    }

    .accordion-image {
        width: 70%;
    }

    .accordion-content {
        justify-content: center;
    }

    .title {
        font-size: 1.1em;
    }
}

@media (min-width: 1024px ) {
    .wrapper {
        width: 50%;
        padding: 0.5em 2em;
    }

    .wrapper-title {
        font-size: 1em;
    }

    .wrapper:hover .accordion-title  {
       color: #000000;
    }

    .icon {
        display: none;
    }

    .wrapper:hover .icon {
        display: block;
     }

    .accordion-image {
        width: 25%;
    }

    .accordion-content {
        justify-content: center;
    }

    .accordion-item:active .accordion-title{
       opacity: 0.7;
       color:#159bda;
    }

    .accordion-content:active .icon {
        opacity: 0.5;
        display: block;
        width: 1.5em;
        height: 1.5em;
        background-image: url(img/icon_2.svg);
        background-repeat: no-repeat;
     }

     .accordion-content:active {
        opacity: 0.5;
     }

    .title {
        font-size: 1em;
        padding: 0.5em;
    }
}
